.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout {
  min-height: 100vh;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  border-radius: 2px;
}

.ant-layout-header {
  background: #F2311F;
  height: 64px;
  padding: 0;
  line-height: 64px;
}

.ant-layout-footer {
  background: #f0f2f5;
}

/* Estilos para o Sidebar */
.ant-menu-submenu-title {
  font-weight: bold !important;
}

.ant-menu-submenu-popup .ant-menu-item {
  font-size: 12px !important;
}

.ant-menu-item {
  font-size: 14px !important;
}

.ant-menu-title-content {
  text-transform: uppercase;
}

.ant-menu-submenu .ant-menu-submenu-title .ant-menu-title-content {
  font-size: 14px;
}

.ant-menu-submenu .ant-menu-item .ant-menu-title-content {
  font-size: 12px;
}

/* Estilos de cores específicas */
.ant-btn-primary {
  background-color: #F2311F;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: #F2311F;
}

.ant-layout-sider {
  background: #F2311F;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0.2);
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon {
  color: white;
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-title-content {
  color: white;
}
